# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
data/
data2/
*.h5
modelsImage/
test_export_saved_model.h5
venv/
config/
__pycache__/
datasets/meituan/sentiment_analysis_training_set.csv
datasets/meituan/sentiment_analysis_training_set_new.csv
result/result.csv
result/result_sentence.csv
result/*.bin
result/cluster_center.csv
result/cluster_center_validation.csv
result/cluster_center_train.csv
temp.py