# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
data/
data2/
*.h5
modelsImage/
result/
test_export_saved_model.h5
venv/
config/
__pycache__/